.catagory-sidebar-area-inner::-webkit-scrollbar {
    width: 3px;
}
 
.catagory-sidebar-area-inner::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(#c2c2c2, 1);
}
 
.catagory-sidebar-area-inner::-webkit-scrollbar-thumb {
//   background-color: darkgrey;
//   outline: 1px solid slategrey;
background-color: rgba(#a9a9a9, 0.4);
outline: 1px solid #fff;
}


// .container-fullwidth {
//     padding-left: 10%;
//     padding-right: 10%;
// }


.bg-color-white {
    background-color: #fff;
}
.box-shadow {
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1) !important;
}
.border-radius5 {
    border-radius: 5px;
}
.section-wrapper {
    position: relative;
}
.mlr-20 {
    margin-left: -20px;
    margin-right: -20px;
}
.height-100vh {
    height: 100vh;
}
.slider-btn-group {
    position: absolute;
    right: 0;
    top: -45px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    background-color: #f9f9f9;
    .slider-btn-next,.slider-btn-prev {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        background-color: white;
        margin-left: 5px;
        box-shadow: 0 0 10px 0 rgba(black, 0.06);
        cursor: pointer;
        svg {
            width: 12px;
            height: 12px;
        }
        &:hover {
            background-color: $theme-color;
            svg {
                fill: white;
            }
        }
    }
    @media #{$mobile-device}{
        width: 100%;
        top: 50%;
        justify-content: space-between;
        height: 0px;
        z-index: 2;
        .slider-btn-next {
            position: relative;
            right: -15px;
            top: -15px;
        }
        .slider-btn-prev {
            position: relative;
            left: -15px;
            top: -15px;
        }
    }
}


// section heading
.section-heading {
    position: relative;
    margin-bottom: 10px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
    .heading-title {
        display: inline-block;
        font-size: 24px;
        color: #222533;
        position: relative;
        z-index: 1;
        background-color: #f9f9f9;
        padding-right: 25px;
    }
    .heading-circle {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 4px solid #f68501;
        display: inline-block;
        margin-right: 4px;
        &.green {
            border-color: $theme-color;
        }
    }
    @media #{$mobile-device}{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        .heading-title {
            padding: 0 10px;
            font-size: 20px;
        }
    }
}


.advertisement-section img {
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
}




// social-media-list
.social-media-list {
    li {
        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 42px;
            text-align: center;
            background-color: #f3f3f3;
            color: #8a8e9b;
            margin-right: 7px;
            &:hover {
                color: white;
                background-color: $theme-color;
            }
        }
    }
}






// product-details-popup
.product-details-popup {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    .modal-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black,0.6);
        opacity: 0;
    }
    .product-zoom-info-container {
        transform: scale(0);
        transition: all 0.3s ease;
        .slick-slide img {
            display: none !important;
        }
    }
    &.open-side {
        z-index: 999;
        opacity: 1;
        visibility: visible;
        .modal-overlay {
            opacity: 1;
            cursor: zoom-out;
        }
        .product-zoom-info-container {
            transform: scale(1);
            
            .slick-slide img {
                display: block !important;
            }
        }
    }
    .product-zoom-info-container {
        position: relative;
        .closed-modal {
            position: absolute;
            right: -10px;
            top: -10px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background-color: $theme-color;
            color: white;
            border-radius: 50%;
            box-shadow: 0 0 10px 0 rgba(black, 0.1);
            z-index: 2;
            cursor: pointer;
        }
    }
    @media #{$mobile-device-mx-lg}{
        .product-details-content {
            display: none;
        }
    }
}



// price-increase-decrese-group
.price-increase-decrese-group {
    background-color: $theme-color;
    padding: 0px 5px;
    border-radius: 5px;
    width: 75px;
    button {
        color: white;
        padding: 5px 5px;
        cursor: pointer;
        outline: none;
        border: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    input {
        width: 25px;
        background-color: $theme-color;
        color: white;
        outline: none;
        border: none;
        padding: 0px 5px;
        text-align: center;
    }
}




/* popup box css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 99999;
  }
  .popup-overlay {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    cursor: crosshair;
  }
  .popup .popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 30px;
    width: 100%;
    height: 100%;
  }
  .popup .popupbox {
    max-width: 700px;
    width: 100%;
    position: relative;
    z-index: 999999;
    button img {
        width: 70%;
        margin: auto;
    }
  }

  .popupbox .popup-close {
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 2;
    border: none;
    background: none;
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(black, 0.06);
  }

  @media (max-width: 1200px) {
   .popup {
        padding: 50px;
   }
}

@media (max-width: 500px) {
   .popup {
        padding: 10px;
   }
   .popup .popup-wrapper {
       padding: 40px;
   }
}


@media #{$large-mobile}{
    section {
        padding-left: 10px;
        padding-right: 10px;
    }
}


// to top
.to-top {
    width: 40px;
    height: 40px;
    display: block;
    background-color: rgb(89, 184, 40);
    color: white;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.4s ease;
    &:focus,&:active {
        color: white;
        background-color: rgb(89, 184, 40);
    }
    &:hover {
        color: white;
        background-color: #232424;
    }
    &.fixed-totopmbb {
        transform: translateY(0px);
        opacity: 1;
    }
}