.header {
    background-color: #fff;
    hr {
        margin: 0;
    }
    .header-top {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        @media #{$desktop-device} {
            padding-left: 50px;
            padding-right: 50px;
        }
        .logo {
            display: block;
        }
    }
    .header-bottom {
        border-bottom: 1px solid #ededed;
        box-shadow: 0 1px 3px 0 rgba(black, 0.01);
        padding-left: 20px;
        padding-right: 20px;
        @media #{$desktop-device} {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

// fixed top menu
.fixed-totop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    &.mobile-header {
        padding: 19px 20px;
        box-shadow: 0 1px 3px 0 rgba(black, 0.01);
    }
}

.select-search-option {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    .flux-custom-select {
        width: 100px;
        @media #{$tablet-device}{
            width: 170px;
        }
        background-color: #f8f8f8;
        border: 1px solid #ededed;
        .select-selected {
            background-color: #f8f8f8;
            border: none;
            color: #4b566b;
            padding: 9px 16px;
            &:after {
                border-color: #4b566b transparent transparent transparent;
                top: 20px;
            }
            &.select-arrow-active:after {
                border-color: transparent transparent #4b566b transparent;
                top: 14px;
            }
        }
        .select-items {
            background-color: #fff;
            div {
                color: #4b566b;
                display: block;
                padding: 5px 15px;
                font-size: 13px;
                border: none;
                border-bottom: 1px solid rgba(89, 184, 40, 0.1);
                &:hover,&.same-as-selected {
                    background-color: $theme-color;
                    color: white;
                }
            }
        }
    }
    .search-form {
        width: calc(100% - 100px);
        position: relative;
        @media #{$tablet-device}{
            width: calc(100% - 170px)
        }
        input {
            width: 100%;
            background-color: #f8f8f8;
            border: 1px solid #ededed;
            border-left: none;
            padding: 9px 24px;
        }
        .submit-btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 55px;
            height: 100%;
            border: 1px solid #ededed;
            background-color: #f8f8f8;
            color: #a1b1bc;
            line-height: 50px;
        }
    }
}


// site-action
.site-action {
    max-width: 600px;
    .site-phone,.site-help {
        a {
            color: #222533;
            font-size: 13px;
            transition: all 0.3s ease;
        }
        i {
            color: #222533;
            margin-right: 3px;
            transition: all 0.3s ease;
        }
        &:hover {
            a {
                color: $theme-color;
            }
            i {
                color: $theme-color;
            }
        }
    }
}


// wishlist 
.wish-list {
    position: relative;
    a {
        width: 35px;
        height: 35px;
        line-height: 38px;
        border-radius: 50%;
        background-color: #fbbbbb;
        position: relative;
        text-align: center;
        i {
            color: white;
        }
        .count {
            position: absolute;
            right: -4px;
            top: -4px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #f55050;
            font-size: 10px;
            line-height: 16px;
            color: white;
        }
    }
}


// my-account
.my-account {
    position: relative;
    a {
        padding: 9px 25px;
        background-color: #e8eaee;
        border-radius: 3px;
    }
    .submenu {
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 180px;
        box-shadow: 0 0 10px 0 rgba(black, 0.1);
        background-color: white;
        z-index: 2;
        transform: scaleY(0);
        transform-origin: top;
        transition: all 0.3s ease;
        border-top: 3px solid $theme-color;
        li {
            a {
                padding: 5px 15px;
                display: block;
                background-color: white;
                font-size: 90%;
                &:hover {
                    background-color: $theme-color;
                    color: white;
                }
            }
        }
    }
    &:hover {
        .submenu {
            transform: scaleY(1);
        }
    }
}
.signin-option {
    a {
        padding: 9px 25px;
        background-color: #e8eaee;
        border-radius: 3px;
    }
}



// all catagory scss
.all-catagory-option {
    position: relative;
    padding: 20px 0px;
    > a {
        font-weight: 700;
        color: $theme-color;
        font-size: 16px;
        i {
            margin-right: 10px;
            background-color: #59b828;
            color: white;
            padding: 10px 11px;
            border-radius: 3px;
            width: 45px;
            height: 40px;
            text-align: center;
            /* line-height: 20px; */
            font-size: 20px;
            transition: all 0.3s ease;
            @media #{$mobile-device}{
                width: 35px;
                height: 35px;
                line-height: 16px;
                font-size: 16px;
            }
        }
        &:hover {
            i {
                background-color: #438e1c;
            }
        }
        &.bar-btn{
            display: block;
        }
        &.close-btn{
            display: none;
        }
    }
    &.mobile-device {
        a {
            padding: 0;
            width: auto;
            i {
                margin-right: 0;
            }
        }
    }
    .submenu-iconic {
        position: absolute;
        left: 0;
        top: 100%;
        width: 102%;
        height: 630px;
        background-color: white;
        border: 1px solid #ebebeb;
        z-index: 99;
        // @media #{$laptop-device}{
        //     height: 500px;
        // }
    }
}

.menu-item-iconic {
    list-style-type: none;
    width: 100%;
    li {
        position: initial;
        a {
            width: 100%;
            img {
                width: 30px;
                margin-right: 10px;
            }
            padding: 12px 30px;
            font-size: 14px;
            position: relative;
            i {
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -9px;
                transform: rotate(-90deg);
            }
        }
        .side-mega-menu {
            position: absolute;
            left: 100%;
            top: 0px;
            height: 630px;
            overflow-y: auto;
            width: 220px;
            background-color: white;
            box-shadow: 0px 0px 10px 0px rgba(black, 0.06);
            display: none;
            h6 {
                font-size: 14px;
            }
            ul {
                li {
                    a {
                        font-size: 13px;
                        padding: 5px 0px;
                    }
                }
            }
            @media #{$laptop-device}{
                height: 500px;
            }
            &.lg {
                width: 700px;
            }
            &.md {
                width: 450px;
            }
            .side-mega-menu-container {
                padding: 30px;
                ul {
                    margin-bottom: 30px;
                    li {
                        line-height: 2.5;
                    }
                }
            }
        }
        &:hover {
            .side-mega-menu {
                display: block;
            }
        }
    }
}

.fixed-totop {
   .all-catagory-option{
    .submenu-iconic {
        display: none;
    }
    &:hover {
          .submenu-iconic {
            display: block;
          }  
        }
    } 
}

.open-side-menu {
    .all-catagory-option {
        .bar-btn{
            display: none;
        }
        .close-btn{
            display: block;
        }
    }
}



.catagory-sidebar.all-catagory-option {
    position: relative;
    padding-bottom: 50px;
    > a {
        background-color: $theme-color;
        color: white;
        padding: 10px 30px;
        border-radius: 3px;
        width: 210px;
        i {
            margin-right: 5px;
        }
    }
    >.catagory-submenu {
        padding-top: 20px;
        position: static;
        // position: absolute;
        // left: 0;
        top: 0%;
        width: 100%;
        min-width: 250px;
        z-index: 2;
        @media #{$extraBig-device}{
            min-width: 300px; 
        }
        // height: 100vh;
        // overflow-y: auto !important;
    }
    .catagory-submenu {
        text-align: left;
        background-color: #fff;
        overflow: hidden;
        li {
            a {
                padding: 10px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                @media #{$extraBig-device}{
                    padding: 15px 50px; 
                }
                i {
                    transform: rotate(-90deg);
                    transition: all 0.3s ease;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: 0px;
                    width: 2px;
                    height: 0px;
                    background-color: #2c3e50;
                    transition: all 0.3s ease;
                }
            }
            a[aria-expanded="true"] {
                box-shadow: 0 0 10px 0 rgba(black, 0.1);
                i {
                    transform: rotate(0deg);
                }
                &:after {
                    height: 36px;
                    margin-top: -18px;
                }
            }
            .icon {
                width: 20px;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
        }
        .catagory-submenu {
            position: relative;
            padding-left: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
            @media #{$extraBig-device}{
                margin-top: 35px;
                margin-bottom: 35px;
            }
            li {
                a {
                    padding: 10px 25px;
                }
                &:first-child {
                    a {
                        padding-top: 0;;
                    }
                }
                &:last-child {
                    a {
                        padding-bottom: 0;;
                    }
                }
            }
            &:after {
                content: '';
                position: absolute;
                left: 50px;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: #c6c6c6;
            }
        }
    }
    &.iconic-catagory-submenu {
        .catagory-submenu {
            .catagory-submenu {
                padding-left: 20px;
                &:after {
                    left: 25px;
                    display: none;
                }
            }
        }
    }
}



// menu-area
.menu-area {
    @media #{$desktop-device}{
        // padding-right: 50px;
    }
    .cart-icon {
        width: 45px;
        height: 45px;
        display: inline-block;
        background-color: #e8eaee;
        text-align: center;
        line-height: 45px;
        border-radius: 50%;
        position: relative;
        .count {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: $theme-color;
            color: white;
            font-size: 10px;
            line-height: 18px;
            position: absolute;
            right: -2px;
            top: -3px;
        }
    }
}   

// dropdown menu
.menu {
    li {
        &.item-has-children {
            position: relative;
            &.active {
                >a {
                    color: $theme-color;
                }
            }
            >a {
                i {
                    font-size: 12px;
                }
            }
            .submenu {
                position: absolute;
                left: 0;
                top: 100%;
                min-width: 220px;
                background-color: #fff;
                transform: scaleY(0);
                transform-origin: top;
                transition: all 0.3s ease;
                border-top: 3px solid $theme-color;
                z-index: 2;
                li {
                    a {
                        display: block;
                        padding: 8px 15px;
                        font-size: 13px;
                        font-weight: 400;
                        border-bottom: 1px solid rgba($color: $theme-color, $alpha: 0.1);
                        &:hover {
                            background-color: $theme-color;
                            color: white;
                        }
                    }
                    &.active {
                        >a {
                            background-color: $theme-color;
                            color: white;
                        }
                    }
                }
            }
            &:hover {
                .submenu {
                    transform: scaleY(1);
                }
            }
            @media #{$mobile-device}{
                .submenu {
                    position: static;
                    transform: scaleY(1);
                    li {
                        a {
                           border-bottom: none;
                           &:hover {
                            background-color: transparent;
                            color: $theme-color;
                           } 
                        }
                    }
                }
            }
        }
        &.item-has-mega-menu {
            >a {
                i {
                    font-size: 12px;
                }
            }
            .mega-menu-container{
                position: absolute;
                left: 0;
                top: 100%;
                min-width: 100%;
                max-height: 480px;
                padding: 50px 30px 30px 30px;
                overflow-y: auto;
                background-color: #fff;
                transform: scaleY(0);
                transform-origin: top;
                transition: all 0.3s ease;
                border-top: 3px solid $theme-color;
                z-index: 9;
                box-shadow: 0px 1px 5px 0px rgba(black,0.1);
                .ctagory-item {
                    .title {
                        font-size: 13px;
                        color: #2c3e50;
                        margin-top: 0;
                        margin-bottom: 15px;
                    }
                    .active {
                        color: $theme-color;
                    }
                    ul {
                        margin-bottom: 35px;
                        li {
                            a {
                                padding: 5px 0;
                                color: #4b566b;
                                font-size: 13px;
                                font-weight: 400;
                                &:hover {
                                    color: $theme-color;
                                }
                            }
                        }
                    }
                }
            }
            &:hover {
                >a {
                    color: $theme-color;
                }
                .mega-menu-container {
                    transform: scaleY(1);
                }
            }
        }
    }
}





// mobile-header
.mobile-header {
    button {
        background-color: transparent;
        border: none;
        outline: none;
    }
    .menu-bar {
        font-size: 14px;
        font-weight: 500;
        color: #59b828;
        background-color: #fcfcfc;
        padding: 3px 25px 3px 15px;
        border: 1px solid #eeee;
        position: relative;
        text-transform: capitalize;
        i {
            font-size: 15px;
            margin-left: 5px;
            position: absolute;
            right: 12px;
            top: 10px;
        }
    }
}




// mobile-search
.mobile-search {
    button {
        width: 40px;
        height: 35px;
        border-radius: 3px;
        background-color: #fcfcfc;
        border: 1px solid #eee;
        line-height: 34px;
        text-align: center;
    }
}