   /* Media Query for Mobile Devices */

   /* Media Query for low resolution  Tablets, Ipads */
   @media (min-width: 481px) and (max-width: 767px) {

   }
   /* Media Query for Tablets Ipads portrait mode */
   @media (min-width: 768px) and (max-width: 1024px){
}
   /* Media Query for Laptops and Desktops */
   @media (min-width: 1025px) and (max-width: 1280px){
   }


   }
   /* Media Query for Large screens */
   @media (min-width: 834px) and (max-width: 1112px){

   }

   @media (min-width: 1024px) and (max-width: 1366px){
   }

   @media (min-width: 200px) and (max-width: 700px){
.trending-product-container .product-item .product-content .cart-btn{font-size: 10px;}   
.trending-product-container .product-item .product-content .price{line-height: 20px;}
.advert_innercont{font-size: 10px;}
.advert_cont h4{font-size: 12px;}
.advert_left{padding: 20px 20px 30px !important;}
.advert_rgt{padding: 20px 20px 30px !important;}
.banner_scn img{width: 150px;}

}


 @media (min-width: 300px) and (max-width: 400px){
 }

